body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}


header{
    width: 100%;
    height: 99px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 2px 2px 0px, rgba(0, 0, 0, 0.07) 0px 0px 2px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}
.left img{
    cursor: pointer;
}

.left{
    display: flex;
    width: 30%;
    align-items: center;
}


.left ul{
    width: 70%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: 12px;
}

ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 1px;
}

.right{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}


.right .location{
    display: flex;
    
}
.right img{
    cursor: pointer;
}
.location h4{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.header-btn .sign-btn{
    height: 32.4px;
    margin-right: 18px;
    width:  78.0875px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
}

.header-btn .join-btn{
    width:  92.8875px;
    height: 32.4px;
    background-color: rgba(0, 0, 0, 0.87);
    color: #fff;
    font-weight: 800;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
section{
 width: 100%;
 height: 320px;
 display: flex;   
 align-items: center;
 justify-content: center;
 
 
}
.parent-1{
    width: 95%;
    height: 90%;
    display: flex;
    background: rgb(181, 235, 159);
    margin-top: 25px;
    
}
.left-1{
    width: 50%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right-1{
    width: 50%;
    height: 100%;
    background: #e76666;

}
.right-1 img{
    display: flex;
    width: 100%;
    height: 100%;
}
.left-1 h2{
    margin-bottom: 20px;
}
.left-1 h4{
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: 400;
}
.left-1 button{
    height: 33.4px;
    margin-top: 15px;
    width:  123.8px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    
}
.section-2{
    width: 100%;
    height: 625px;
    display: flex;   
    align-items: center;
    justify-content: center;
    
    
   }

.parent-2{
    width: 95%;
    height: 90%;
    display: flex;
    
    
}
.left-2 img{
    display: flex;
    width: 100%;
    height: 100%;
}
.right-2{
    width: 50%;
    height: 100%;
    background: rgb(65, 185, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left-2{
    width: 50%;
    height: 100%;
    
    display: flex;
    
    align-items: center;
    justify-content: center;}

    .right-2 h1{
        margin-bottom: 20px;
        font-size: 50px;
        color:  rgb(30, 57, 50);
        font-weight: 600;
    }
    .right-2 h4{
        margin-bottom: 6px;
        font-size: 24px;
        font-weight: 500;
        color: rgb(30, 57, 50);
        

    }
    .right-2 button{
        height: 33.4px;
        margin-top: 29px;
        width:  123.8px;
        border-radius: 50px;
        border: 1px solid rgba(0, 0, 0, 0.87);
        color: rgba(0, 0, 0, 0.87);
        font-weight: 800;
        background-color: transparent;
        cursor: pointer;
        font-size: 15px;
        font-weight: 700;
        
    }

    .section-3{
    width: 100%;
    height: 625px;
    display: flex;   
    align-items: center;
    justify-content: center;
   
    
    
   }
   .parent-3{
    width: 95%;
    height: 95%;
    display: flex;
    margin-bottom: 20px;
   
    
    
    
}
.left-3{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:rgb(216, 218, 109);
}

.right-3{
    width: 100%;
    height: 100%;
    

}
.right-3 img{
    display: flex;
    width: 100%;
    height: 100%;
}
.left-3 button{
        height: 33.4px;
        margin-top: 29px;
        width:  123.8px;
        border-radius: 50px;
        border: 1px solid rgba(0, 0, 0, 0.87);
        color: rgb(30, 57, 50);
        font-weight: 600;
        background-color: transparent;
        cursor: pointer;
        font-size: 15px;
        font-weight: 700;
        
    }
    .left-3 h1{
        margin-bottom: 10px;
        font-size: 50px;
        color:  rgb(30, 57, 50);
        font-weight: 600;
    }
    .left-3 h4{
        margin-bottom: 2px;
        font-size: 24px;
        font-weight: 500;
        color: rgb(30, 57, 50);
        

    }
    h1{
        margin: 0;
    }
    .section-4{
    width: 100%;
    height: 625px;
    display: flex;   
    align-items: center;
    justify-content: center;
    
    
   }
   .parent-4{
    width: 95%;
    height: 99%;
    display: flex;
   
    
    
}
.left-4 img{
    display: flex;
    width: 100%;
    height: 100%;
}
.left-4{
    width: 50%;
    height: 100%;
    
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.right-4{
    width: 50%;
    height: 100%;
    background:  #d5d0ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right-4 h1{
        margin-bottom: 5px;
        font-size: 50px;
        color:  #1e3932;
        font-weight: 600;
       
    }
    .right-4 h4{
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 500;
        color: rgb(30, 57, 50);
        

    }
    .right-4 button{
        height: 33.4px;
        margin-top: 29px;
        width:  123.8px;
        border-radius: 50px;
        border: 1px solid rgba(0, 0, 0, 0.87);
        color: rgba(0, 0, 0, 0.87);
        font-weight: 600;
        background-color: transparent;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        
    }
.section-5{
    width: 100%;
    height: 625px;
    display: flex;   
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
    
   }
   .parent-5{
    width: 95%;
    height: 100%;
    display: flex;
   
   
   
    
    
    
}
.left-5{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:#f5cac4;
}
.left-5 button{
        height: 33.4px;
        margin-top: 29px;
        width:  123.8px;
        border-radius: 50px;
        border: 1px solid rgba(0, 0, 0, 0.87);
        color: rgb(30, 57, 50);
        font-weight: 600;
        background-color: transparent;
        cursor: pointer;
        font-size: 15px;
        font-weight: 700;
        
    }
    .left-5 h1{
        margin-bottom: 10px;
        font-size: 50px;
        color:  rgb(30, 57, 50);
        font-weight: 600;
    }
    .left-5 h4{
        margin-bottom: 2px;
        font-size: 24px;
        font-weight: 500;
        color: rgb(30, 57, 50);
        

    }
.right-5{
    width: 100%;
    height: 100%;
    

}
.right-5 img{
    display: flex;
    width: 100%;
    height: 100%;
}
 .section-6{
    width: 100%;
    height: 450px;
    display: flex;   
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
    
   }
   .parent-6{
    width: 95%;
    height: 95%;
    display: flex;
   
    
    
}
.left-6 img{
    display: flex;
    width: 100%;
    height: 100%;
}
.left-6{
    width: 50%;
    height: 100%;
    
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.right-6{
    width: 50%;
    height: 100%;
    background:  rgb(30, 57, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right-6 h1{
        margin-bottom: 20px;
        font-size: 24px;
        color: rgb(255, 255, 255);
        font-weight: 600;
       
    }
    .right-6 h4{
        margin-bottom: 10px;
        font-size: 19px;
        font-weight: 500;
        color:rgb(255, 255, 255);
        

    }
    .right-6 button{
        height: 33.4px;
        margin-top: 29px;
        width:  123.8px;
        border-radius: 50px;
        border: 1px solid rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        font-weight: 600;
        background-color: transparent;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        
    }
    .section-7{
        width: 100%;
        height: 150px;
      color: rgb(0, 0, 0);
        display: flex;   
        align-items: center;
        justify-content: center;
        
        
        border-top: 30px;
    }
    .section-8{
        width: 100%;
        height: 130px;
        font-size: 16px;
        
        display: flex;   
        align-items: center;
        justify-content: center;
        border-bottom: 30px;
        
    }
    .txt-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .txt-2 h5{
        font-weight: 500;
    }
    .txt-1 h5{
        font-weight: 500;
    }
    .section-9{
        width: 100%;
        height: 50px;
    }

    footer{
        width: 100%;
        height: 300px;
        display: flex;   
        align-items: center;
        justify-content: space-between;
        
        
        
       }
       .foot-1{
        width: 100%;
        height: 400px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 2px 2px 0px, rgba(0, 0, 0, 0.07) 0px 0px 2px 0px;

        /* display: flex;
        align-items: center;
        justify-content: center; */
       }
       .align-1{
        display: flex;
        width: 75%;
        margin-left: 30px;
        height: inherit;
       color: rgba(0, 0, 0, 0.58);
        align-items:flex-start ;
        justify-content: space-around;
        margin-top: 3pc;
        
        
       }
       .align-1 ul li{
        margin-bottom: 1.5pc;
         list-style: none;
        
         
         
       }
       .align-1 ul li h3{
        font-weight: 600;
        font-size: 17.5px;
       }
       .align-1 ul li a{
        font-weight: 400;
        font-size: 14px;
       }
       .foot-2{
        width: 100%;
        
        display: flex;
        height: 380px;

       }
       .last-1{
        width: 100%;
        height: 381px;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: space-around;
        margin-left: 45px;

        
       }
       .last-1 ul li{
        list-style: none;
        margin-bottom: 1pc;
        font-size: 20px;
       }
       .icons{
        width: 100%;
        height: 108px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
       }
       .icon-1{
        width: 20%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 20px;
       }
       .icon-1 a img{
        width: 30px;
        height: auto;
       }
       .last-1 ul li a{
        font-weight: 550;
        font-size: 15px;
       }
       .last-1 p{
        font-weight: 400;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.58);
       margin-bottom: 20px;
       }